.sidebar {
	height: 100vh;
	flex: 0.2;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 230px;
	background-color: #040404;
}

.sidebar_profile {
	display: grid;
	place-items: center;
	margin-top: 40px;
}
.sidebar_profile > img {
	border-radius: 50%;
}
.title {
	padding-top: 10px;
	font-size: 18px;
	margin-bottom: 60px;
	display: block;
	overflow: auto;
}

.newOrder {
	text-align: center;
	cursor: pointer;
}
.newOrder > h4 {
	margin-right: 10px;
}
